<h2>API Credentials</h2>
{% import "_includes/forms" as forms %}



<div class="field">
    <div style="padding-right: 5%; display: inline-block; width: 45%;">
        {{ forms.textField({
            label: gateway.getAttributeLabel('api_uid'),
            name: 'api_uid',
            value: gateway.api_uid,
            errors: gateway.getFirstError('api_uid')
        }) }}
    </div>
    <div style="display: inline-block; width: 45%;">
        {{ forms.textField({
            label: gateway.getAttributeLabel('api_password'),
            name: 'api_password',
            value: gateway.api_password,
            errors: gateway.getFirstError('api_password')
        }) }}
    </div>
</div>

<div class="field">
    <div style="padding-right: 5%; display: inline-block; width: 45%;">
        {{ forms.textField({
            first: true,
            label: gateway.getAttributeLabel('api_test_uid'),
            name: 'api_test_uid',
            value: gateway.api_test_uid,
            errors: gateway.getFirstError('api_test_uid')
        }) }}
    </div>
    <div style="display: inline-block; width: 45%;">
        {{ forms.textField({
            label: gateway.getAttributeLabel('api_test_password'),
            name: 'api_test_password',
            value: gateway.api_test_password,
            errors: gateway.getFirstError('api_test_password')
        }) }}
    </div>
</div>