<h2>Environment</h2>
{% import "_includes/forms" as forms %}

{{ forms.lightswitchField({
    label: gateway.getAttributeLabel('test_mode'),
    name: 'test_mode',
    disabled: gateway.overrideModeFromEnv(),
    on: not gateway.isInProductionMode(),
    instructions: not gateway.overrideModeFromEnv() ? "This setting can be set with environment variable using <code>#{gateway.getModeEnvVar}</code>" | t('klarna-checkout') : null,
    errors: gateway.getFirstError('test_mode'),
    warning: gateway.overrideModeFromEnv() ? "This variable is controlled by the environment variable <code>#{gateway.getModeEnvVar}</code>" : null
}) }}

<div class="field">
    <div class="heading">
        <label class="required">Region</label>
        <div class="instructions"><p>Select your Klarna account region</p>
        </div>
    </div>
    <div class="input ltr">
        {{ forms.select({
            label: gateway.getAttributeLabel('region'),
            name: 'region',
            value: gateway.region,
            options: gateway.available_regions,
            errors: gateway.getFirstError('region')
        }) }}
    </div>
</div>